NEXTAUTH_URL=https://dumbospizza.de
NEXTAUTH_SECRET=change_me
NEXT_PUBLIC_URL=https://dumbospizza.de
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=

TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=

STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=
STRIPE_WEBHOOK_SECRET=

SEED_SECRET_KEY=production_seed_key

